<div class="card min-h-34 bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title"></h2>
        <p class="card-description"></p>
        <div class="card-actions justify-end">
            <div class="badge card-priority badge-outline"></div>
            <div class="badge card-duedate badge-outline"></div>
            <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="btn disabled btn-xs
                    m-1">...</div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-0 shadow bg-base-100 rounded-box w-24">
                    <li class="text-xs bg-success"><a>Complete</a></li>
                    <li class="text-xs bg-warning"><a>Modify</a></li>
                    <li class="text-xs bg-error"><a>Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
