<div class="card min-h-34 bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="flex-1 card-title"></h2>
        <p class="flex-1 card-description"></p>
        <div class="card-actions justify-end">
            <div class="badge card-priority badge-outline"></div>
            <div class="badge card-duedate badge-outline"></div>
        </div>
    </div>
        <ul>
            <li class="text-xs bg-success"><a>Complete</a></li>
            <li class="text-xs bg-warning"><a>Modify</a></li>
            <li class="text-xs bg-error"><a>Delete</a></li>
        </ul>
</div>
